/* ----------------------------------------- */
/* --------- CHAT - NORMAL LAYOUT ---------- */
/* ----------------------------------------- */

#chat:is(:not([class]), .noscrollbar) .item .message {
    border: 1px solid #fff;
    background: rgba(0,0,0,0.25);
    padding: 10px;
}

#chat:is(:not([class]), .noscrollbar):has(.avatar) .item .message {
    padding-left: 80px;
}

#chat:is(:not([class]), .noscrollbar) .item .info {
    position: relative;
}

#chat:is(:not([class]), .noscrollbar) .item .info .avatar {
    position: absolute;
    top: 0;
    left: -70px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    box-shadow: var(--dropShadow);
    border: 1px solid #fff;
}

#chat:is(:not([class]), .noscrollbar) .item .info .avatar img {
    width: 60px;
    height: 60px;
}

#chat:is(:not([class]), .noscrollbar) .item.kick .info .avatar { position: absolute; }
#chat:is(:not([class]), .noscrollbar) .item.kick .info .avatar img {
    width: 60px;
    height: 60px;
}

/* ------------------------------------------- */
/* --------- CHAT - ONE LINE LAYOUT ---------- */
/* ------------------------------------------- */

#chat.oneline .item .message {
    border: 1px solid #fff;
    padding: 10px;
}

#chat.oneline:has(.avatar) .item .message {
    padding-left: 44px;
}

#chat.oneline .item .info {
    position: relative;
}

#chat.oneline .item .info .avatar {
    border: 1px solid #fff;
    position: absolute;
    top: -10px;
    left: -34px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    box-shadow: var(--dropShadow);
}

#chat.oneline .item .info .avatar img {
    width: 28px;
    height: 28px;
}

#chat.oneline .item.kick .info .avatar { position: absolute; }
#chat.oneline .item.kick .info .avatar img {
    width: 28px;
    height: 28px;
}

/* ------------------------------------------- */
/* --------- CHAT - HORIZONTAL LAYOUT -------- */
/* ------------------------------------------- */

#chat.horizontal .item .message {
    border: 1px solid #fff;
    padding: 10px;
}

#chat.horizontal:has(.avatar) .item .message {
    padding-left: 44px;
}

#chat.horizontal .item .info {
    position: relative;
}

#chat.horizontal .item .info .avatar {
    border: 1px solid #fff;
    position: absolute;
    top: -10px;
    left: -34px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    box-shadow: var(--dropShadow);
}

#chat.horizontal .item .info .avatar img {
    width: 28px;
    height: 28px;
}

#chat.horizontal .item.kick .info .avatar { position: absolute; }
#chat.horizontal .item.kick .info .avatar img {
    width: 28px;
    height: 28px;
}

/* --------------------------------------------- */
/* --------- CHAT - CASO HAJA SCROLLBAR -------- */
/* --------------------------------------------- */

#chat:not(.noscrollbar):not(.horizontal) {
  padding: 0 25px 0 10px;
}


#chat .item.twitch .info .avatar,
#chat .item.twitch .message { border-color: rgba(145,70,255,1); }

#chat .item.youtube.info .avatar,
#chat .item.youtube .message { border-color: rgba(255,0,0,1); }

#chat .item.tiktok .info .avatar,
#chat .item.tiktok .message { border-color: rgba(241,32,74,1); }

#chat .item.kick .info .avatar,
#chat .item.kick .message { border-color: rgba(72,212,21,1); }