
#chat .item:has(.avatar) .message { padding-left: 60px; }

/* Two-lined Vertical Chat */
#chat:not(.horizontal):not(.oneline) .item .actual-message { margin-top: 0 !important; }

#chat:not(.horizontal):not(.oneline) .item .info .avatar { position: absolute !important; top: 3px; left: 0px; width: 50px; height: 50px; }
#chat:not(.horizontal):not(.oneline) .item .info .avatar img { height: 50px; }
#chat:not(.horizontal):not(.oneline) .item.chat.grouped .message { padding: 3px 0px; }
#chat:not(.oneline):not(.horizontal) .item.chat.streamer-mentioned { margin: 0; }

#chat:not(.horizontal):not(.oneline) .item.streamer-mentioned .info .avatar {
    top: 3px;
    left: -60px;
}

#chat:not(.horizontal):not(.oneline) .item.streamer-mentioned .message:has(.avatar) {
    padding-left: 70px !important;
}

/* One-lined Vertical Chat */
#chat.oneline .item .info .avatar { position: absolute !important; top: -9px; left: -38px; }
#chat.oneline .item:not(.grouped) .message { padding: 10px; }
#chat.oneline .item:not(.grouped):has(.avatar) .message { padding: 5px 0px 5px 38px; }
#chat.oneline .item.grouped .message { padding: 0px; }

#chat:not(.horizontal).oneline .item.streamer-mentioned .message:has(.avatar) {
    padding-left: 48px !important;
}

#chat:not(.horizontal).oneline .item.streamer-mentioned .info .avatar {
    top: -9px;
    left: -40px;
}

/* One-lined Horizontal Chat */
#chat.horizontal .item .info .avatar { position: absolute !important; top: -10px; left: -38px; }
#chat.horizontal .item:not(.grouped) .message { padding: 15px 10px 10px 10px !important; }
#chat.horizontal .item:not(.grouped):has(.avatar) .message { padding: 15px 10px 10px 48px !important; }
#chat.horizontal .item.grouped .message { padding: 11px !important; }

#chat.horizontal .item:not(.grouped) .first-message,
#chat.horizontal .item:not(.grouped) .shared-chat,
#chat.horizontal .item:not(.grouped) .header,
#chat.horizontal .item:not(.grouped) .info,
#chat.horizontal .item:not(.grouped) .actual-message { transform: translateY(0px) !important; }

#chat.horizontal .item.grouped .actual-message { transform: translateY(-1px) !important; }
#chat.horizontal .item.grouped .message .actual-message:has(.emote) { transform: translateY(-1px) !important; }