#chat .event.kick .message {
    background: rgba(72,212,21,0.75);
}

#chat .item.kick .platform .hidden-platform {
    background: rgba(72,212,21,1);
}

#chat .item.kick .badges img {
    margin: 0 -1px;
}

#chat .item .info .avatar {
    position: relative;
}

#chat .item .info .avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#statistics .platform#kick {
    order: 4;
    background: #48d415;
}

#chat .event.kick.kicksgifted img:not(.icon) {
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
}

#chat .event.kick.kicksgifted img.icon {
    width: 18px;
}