.chat .item .user a[data-seventv-paint-id] {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.chat .item .user a[data-seventv-paint-id="01GPF2WSER00027RY0HK5QCJAC"] {
    color: inherit !important;
    background-image: repeating-linear-gradient(
        135deg,
        rgba(224, 179, 16, 1) 0%,
        rgba(255, 149, 0, 1) 15%,
        rgba(120, 120, 120, 1) 15%,
        rgba(181, 181, 181, 1) 30%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(181, 181, 181, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01H0V773SR0007779TR98GJMB2"] {
    color: inherit !important;
    background-image: radial-gradient(
        circle,
        rgba(255, 229, 184, 1) 10%,
        rgba(255, 255, 255, 1) 25%,
        rgba(254, 139, 139, 1) 35%,
        rgba(254, 159, 200, 1) 50%,
        rgba(255, 56, 142, 1) 75%,
        rgba(255, 0, 111, 1) 100%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(255, 0, 123, 1))
        drop-shadow(0px 0px 4px rgba(255, 0, 123, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01H1VNS05R0007H191NVCWCJQD"] {
    color: inherit !important;
    background-image: radial-gradient(
        circle,
        rgba(238, 233, 185, 1) 0%,
        rgba(238, 233, 185, 1) 20%,
        rgba(241, 231, 126, 1) 20%,
        rgba(238, 210, 90, 1) 70%,
        rgba(238, 233, 185, 1) 70%,
        rgba(238, 233, 185, 1) 80%,
        rgba(247, 187, 0, 1) 80%,
        rgba(247, 187, 0, 1) 100%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(247, 187, 0, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01HEBYK3Q0000EV2G1SJ85XJQW"] {
    color: inherit !important;
    background-image: radial-gradient(
        circle,
        rgba(255, 0, 123, 1) 20%,
        rgba(207, 65, 225, 1) 40%,
        rgba(252, 46, 255, 1) 55.00000000000001%,
        rgba(168, 62, 254, 1) 70%,
        rgba(62, 60, 190, 1) 100%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(130, 46, 255, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01HGHA0FA0000A0RAV1AFV8A9Q"] {
    color: inherit !important;
    background-image: repeating-linear-gradient(
        135deg,
        rgba(254, 201, 57, 1) 0%,
        rgba(254, 201, 57, 1) 15%,
        rgba(255, 237, 148, 1) 15%,
        rgba(255, 237, 148, 1) 30%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(255, 149, 0, 1))
        drop-shadow(0px 0px 4px rgba(255, 149, 0, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01J6M387YG0000HJTPW7AY3FZX"] {
    color: inherit !important;
    background-image: image-set(
        url("https://cdn.7tv.app/paint/01J6M387YG0000HJTPW7AY3FZX/layer/01JAMR3EW9Q3R9765PKXM7M4S8/1x.avif")
            1x,
        url("https://cdn.7tv.app/paint/01J6M387YG0000HJTPW7AY3FZX/layer/01JAMR3EW9Q3R9765PKXM7M4S8/2x.avif")
            2x,
        url("https://cdn.7tv.app/paint/01J6M387YG0000HJTPW7AY3FZX/layer/01JAMR3EW9Q3R9765PKXM7M4S8/3x.avif")
            3x,
        url("https://cdn.7tv.app/paint/01J6M387YG0000HJTPW7AY3FZX/layer/01JAMR3EW9Q3R9765PKXM7M4S8/4x.avif")
            4x
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(158, 122, 255, 1))
        drop-shadow(1px 1px 0.1px rgba(68, 38, 186, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01JB02BWCFNT0P5ZRQPT5KQMM6"] {
    color: inherit !important;
    background-image: radial-gradient(
        circle,
        rgba(247, 247, 247, 1) 0%,
        rgba(255, 255, 255, 1) 27%,
        rgba(244, 255, 92, 1) 28.000000000000004%,
        rgba(253, 255, 148, 1) 54%,
        rgba(255, 148, 246, 1) 57.99999999999999%,
        rgba(255, 158, 229, 1) 100%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(255, 148, 246, 1))
        drop-shadow(0px 0px 4px rgba(212, 89, 202, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01JEDE45FTB7XTQGRFXP0BA2PT"] {
    color: inherit !important;
    background-image: image-set(
        url("https://cdn.7tv.app/paint/01JEDE45FTB7XTQGRFXP0BA2PT/layer/01JF06XNCYM98WZAGNT0D51SQ3/1x.avif")
            1x,
        url("https://cdn.7tv.app/paint/01JEDE45FTB7XTQGRFXP0BA2PT/layer/01JF06XNCYM98WZAGNT0D51SQ3/2x.avif")
            2x,
        url("https://cdn.7tv.app/paint/01JEDE45FTB7XTQGRFXP0BA2PT/layer/01JF06XNCYM98WZAGNT0D51SQ3/3x.avif")
            3x,
        url("https://cdn.7tv.app/paint/01JEDE45FTB7XTQGRFXP0BA2PT/layer/01JF06XNCYM98WZAGNT0D51SQ3/4x.avif")
            4x
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: inherit !important;
}
.chat .item .user a[data-seventv-paint-id="01JEY00EDNVW20AWX2NPG4HTNF"] {
    color: inherit !important;
    background-image: image-set(
        url("https://cdn.7tv.app/paint/01JEY00EDNVW20AWX2NPG4HTNF/layer/01JH1Q77D54RJ8DKK9M5WCYR27/1x.avif")
            1x,
        url("https://cdn.7tv.app/paint/01JEY00EDNVW20AWX2NPG4HTNF/layer/01JH1Q77D54RJ8DKK9M5WCYR27/2x.avif")
            2x,
        url("https://cdn.7tv.app/paint/01JEY00EDNVW20AWX2NPG4HTNF/layer/01JH1Q77D54RJ8DKK9M5WCYR27/3x.avif")
            3x,
        url("https://cdn.7tv.app/paint/01JEY00EDNVW20AWX2NPG4HTNF/layer/01JH1Q77D54RJ8DKK9M5WCYR27/4x.avif")
            4x
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(26, 113, 255, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01JFT4JVKHGXJPJ97Y31SDWX85"] {
    color: inherit !important;
    background-image: image-set(
        url("https://cdn.7tv.app/paint/01JFT4JVKHGXJPJ97Y31SDWX85/layer/01JJYTWP33019J8XSF3099YFEK/1x.avif")
            1x,
        url("https://cdn.7tv.app/paint/01JFT4JVKHGXJPJ97Y31SDWX85/layer/01JJYTWP33019J8XSF3099YFEK/2x.avif")
            2x,
        url("https://cdn.7tv.app/paint/01JFT4JVKHGXJPJ97Y31SDWX85/layer/01JJYTWP33019J8XSF3099YFEK/3x.avif")
            3x,
        url("https://cdn.7tv.app/paint/01JFT4JVKHGXJPJ97Y31SDWX85/layer/01JJYTWP33019J8XSF3099YFEK/4x.avif")
            4x
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(102, 201, 253, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01K66X7SKXH492KNGX9H91BXX7"] {
    color: inherit !important;
    background-image: radial-gradient(
        circle,
        rgba(64, 108, 196, 1) 15%,
        rgba(34, 94, 191, 1) 35%,
        rgba(255, 255, 255, 1) 60%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 1px 0.1px rgba(154, 211, 254, 1))
        drop-shadow(0px 0px 3px rgba(0, 110, 255, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KDH5PXBBQHJ49XCEE34FH0HJ"] {
    color: inherit !important;
    background-image: linear-gradient(
        360deg,
        rgba(255, 255, 255, 1) 20%,
        rgba(46, 77, 127, 1) 37%,
        rgba(90, 255, 87, 1) 54%,
        rgba(225, 255, 0, 1) 70%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 4px rgba(45, 128, 0, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KDP2BCYQH80NJRS84B0CV4DF"] {
    color: inherit !important;
    background-image: radial-gradient(
        ellipse,
        rgba(255, 255, 255, 1) 30%,
        rgba(184, 255, 247, 1) 40%,
        rgba(101, 119, 139, 1) 65%,
        rgba(77, 101, 111, 1) 80%,
        rgba(70, 134, 129, 1) 100%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(45, 109, 113, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KG85VVBYG9KRKFME5E6GACB0"] {
    color: inherit !important;
    background-image: linear-gradient(
        0deg,
        rgba(255, 0, 208, 1) 0%,
        rgba(255, 255, 255, 1) 38%,
        rgba(255, 0, 208, 1) 71%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0px rgba(255, 0, 174, 1))
        drop-shadow(0px 0px 1px rgba(140, 0, 255, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KMXG1P52896435KQHE0FKR94"] {
    color: inherit !important;
    background-image: repeating-linear-gradient(
        70deg,
        rgba(133, 208, 255, 1) 35%,
        rgba(46, 137, 255, 1) 60%,
        rgba(46, 137, 255, 1) 63%,
        rgba(254, 32, 98, 1) 65%,
        rgba(236, 168, 91, 1) 88%,
        rgba(255, 146, 20, 1) 82%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(68, 138, 253, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KQ92ZQRGHYMNGXYNTVYF5AEB"] {
    color: inherit !important;
    background-image: linear-gradient(
        360deg,
        rgba(254, 1, 154, 1) 25%,
        rgba(252, 112, 142, 1) 40%,
        rgba(245, 166, 124, 1) 50%,
        rgba(231, 212, 94, 1) 59%,
        rgba(207, 255, 4, 1) 80%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 4px rgba(255, 0, 187, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KSKJ7YSBNE4YVC0M8W29KAVJ"] {
    color: inherit !important;
    background-image: repeating-linear-gradient(
        229deg,
        rgba(0, 194, 94, 1) 5%,
        rgba(102, 102, 102, 1) 20%,
        rgba(64, 64, 64, 1) 25%,
        rgba(0, 184, 89, 1) 35%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(12, 100, 55, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01HNFTV3CG0008Y0WDTPT0GPGT"] {
    color: inherit !important;
    background-image: repeating-radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 17%,
        rgba(255, 255, 255, 1) 19%,
        rgba(255, 184, 215, 1) 34%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 1px rgba(255, 184, 242, 1))
        drop-shadow(1px 1px 0.5px rgba(254, 144, 144, 1))
        drop-shadow(0.5px 0.5px 0.5px rgba(106, 36, 36, 1))
        drop-shadow(0.5px 0.5px 0.3px rgba(255, 148, 226, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01H9903SQR000BVQ7MEDFXVNTJ"] {
    color: inherit !important;
    background-image: repeating-radial-gradient(
        circle,
        rgba(238, 235, 255, 1) 33%,
        rgba(112, 77, 255, 1) 50%,
        rgba(238, 235, 255, 1) 70%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.5px rgba(94, 62, 254, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KA84S7GDS77JGK2RRG7ZZ946"] {
    color: inherit !important;
    background-image: image-set(
        url("https://cdn.7tv.app/paint/01KA84S7GDS77JGK2RRG7ZZ946/layer/01KAMWGXF22HF19PMHFB34ET2A/1x.avif")
            1x,
        url("https://cdn.7tv.app/paint/01KA84S7GDS77JGK2RRG7ZZ946/layer/01KAMWGXF22HF19PMHFB34ET2A/2x.avif")
            2x,
        url("https://cdn.7tv.app/paint/01KA84S7GDS77JGK2RRG7ZZ946/layer/01KAMWGXF22HF19PMHFB34ET2A/3x.avif")
            3x,
        url("https://cdn.7tv.app/paint/01KA84S7GDS77JGK2RRG7ZZ946/layer/01KAMWGXF22HF19PMHFB34ET2A/4x.avif")
            4x
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 3.5px rgba(196, 139, 9, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01JB025A5YPQJFQECGG41WWGY5"] {
    color: inherit !important;
    background-image: radial-gradient(
        circle,
        rgba(255, 245, 245, 1) 20%,
        rgba(153, 255, 122, 1) 35%,
        rgba(51, 255, 156, 1) 70%,
        rgba(51, 255, 194, 1) 100%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(153, 255, 122, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01JDMG54FXCJ617Q8NG9QVY2JV"] {
    color: inherit !important;
    background-image: linear-gradient(
        0deg,
        rgba(133, 104, 74, 1) 0%,
        rgba(133, 104, 74, 1) 25%,
        rgba(201, 175, 134, 1) 25%,
        rgba(201, 175, 134, 1) 50%,
        rgba(253, 240, 220, 1) 50%,
        rgba(253, 240, 220, 1) 75%,
        rgba(159, 75, 35, 1) 100%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 1px rgba(159, 75, 35, 1))
        drop-shadow(0px 0px 0.5px rgba(211, 188, 150, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01K6ZYWT597ZQ7TEDRT26R5BNM"] {
    color: inherit !important;
    background-image: image-set(
        url("https://cdn.7tv.app/paint/01K6ZYWT597ZQ7TEDRT26R5BNM/layer/01K8W5RJAQ183DG7Y1D450VVTF/1x.avif")
            1x,
        url("https://cdn.7tv.app/paint/01K6ZYWT597ZQ7TEDRT26R5BNM/layer/01K8W5RJAQ183DG7Y1D450VVTF/2x.avif")
            2x,
        url("https://cdn.7tv.app/paint/01K6ZYWT597ZQ7TEDRT26R5BNM/layer/01K8W5RJAQ183DG7Y1D450VVTF/3x.avif")
            3x,
        url("https://cdn.7tv.app/paint/01K6ZYWT597ZQ7TEDRT26R5BNM/layer/01K8W5RJAQ183DG7Y1D450VVTF/4x.avif")
            4x
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: inherit !important;
}
.chat .item .user a[data-seventv-paint-id="01KQARKPY5QDJTKEQ4SST2450F"] {
    color: inherit !important;
    background-image: radial-gradient(
        circle,
        rgba(99, 99, 99, 1) 0%,
        rgba(54, 54, 54, 1) 27%,
        rgba(254, 247, 241, 1) 36%,
        rgba(251, 251, 251, 1) 65%,
        rgba(69, 69, 69, 1) 80%,
        rgba(54, 54, 54, 1) 100%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 3px rgba(18, 18, 18, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01K1BPH75HG2B1P7RF4TQ8VG51"] {
    color: inherit !important;
    background-image: linear-gradient(
        0deg,
        rgba(112, 36, 255, 1) 23%,
        rgba(0, 255, 238, 1) 61%,
        rgba(0, 255, 179, 1) 73%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(52, 193, 254, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KAJ3AVYAAKFSPZ5B05AB42WZ"] {
    color: inherit !important;
    background-image: image-set(
        url("https://cdn.7tv.app/paint/01KAJ3AVYAAKFSPZ5B05AB42WZ/layer/01KAJ3AVYA570TMQBWHCBCEKCC/1x.avif")
            1x,
        url("https://cdn.7tv.app/paint/01KAJ3AVYAAKFSPZ5B05AB42WZ/layer/01KAJ3AVYA570TMQBWHCBCEKCC/2x.avif")
            2x,
        url("https://cdn.7tv.app/paint/01KAJ3AVYAAKFSPZ5B05AB42WZ/layer/01KAJ3AVYA570TMQBWHCBCEKCC/3x.avif")
            3x,
        url("https://cdn.7tv.app/paint/01KAJ3AVYAAKFSPZ5B05AB42WZ/layer/01KAJ3AVYA570TMQBWHCBCEKCC/4x.avif")
            4x
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0.7px 0.7px 0.2px rgba(255, 158, 0, 1)) !important;
}
.chat .item .user a[data-seventv-paint-id="01KSWWQGADNZAA4S0JKBZXSFP9"] {
    color: inherit !important;
    background-image: radial-gradient(
        circle,
        rgba(0, 55, 255, 1) 0%,
        rgba(0, 251, 255, 1) 25%,
        rgba(0, 255, 42, 1) 45%,
        rgba(251, 255, 0, 1) 60%,
        rgba(255, 0, 162, 1) 90%
    ) !important;
    background-size: 100% 100% !important;
    background-repeat: unset !important;
    filter: drop-shadow(0px 0px 0.1px rgba(0, 55, 255, 1)) !important;
}
